.verify {
    min-height: 60vh;
    display: grid;
}

.verify .spinner {
    width: 100px;
    height: 100px;
    place-self: center;
    border: 5px solid #dadada;
    border-top-color: mediumslateblue; /* Only the top border will have the color */
    border-radius: 50%;
    animation: rotate 1s infinite linear; /* Add linear to make it a smooth continuous spin */
}

@keyframes rotate {
    0% {
        transform: rotate(0deg); /* Start from 0 degrees */
    }
    100% {
        transform: rotate(360deg); /* End at 360 degrees */
    }
}
